body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

#container {
    /* margin: 0 auto;
    width: 600px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

button{
    width: 40%;
    height: 30px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 12px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }

  button:hover{
    border-color: #2691d9;
    transition: .5s;
  }

  .center{
    text-align: center;
  }
